 
@font-face {
  font-family: "Coffee At Midnight Demo";
  src: url(Fuentes/Coffee At Midnight Demo.ttf);
}

@font-face {
  font-family: "Purisa";
  src: url(Fuentes/Purisa.ttf);
}

@font-face {
  font-family: "Sawasdee";
  src: url(Fuentes/Sawasdee.ttf);
}

 s1{ color: white; font-family: Verdana; }
  s2{ color: black; font-family: Purisa; }
  s3{ color: black; font-family: Sawasdee; }
  s4{ color: white; font-family: Coffee At Midnight Demo; }
 s5{ color: black; font-family: Coffee At Midnight Demo; }
  s6{ color: white; font-family: Sawasdee; }

	a { margin:  0; display: block;}
 	a:visited	{ margin:  0; display: block;}
	.simple {text-decoration: none;}

id=contenedorr3;

border-radius: 10px 10px 10px 10px;
moz-border-radius: 10px 10px 10px 10px;
webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

#contenedorr3 { 
border-radius:3px; 
-moz-border-radius:3px; /* Firefox */ 
-webkit-border-radius:3px; /* Safari y Chrome */ 

/* Otros estilos */ 
border:1px solid #333;
background:#eee;
width:100%;
padding:5px;
}




{
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:50%;
				font-family:Purisa;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav {
				width:50%; 
				margin:0 auto; 
			}
 
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:black;
				color:#15E6E9;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:black;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
