<!DOCTYPE html>
<html>
<head>
	<title>¡Ayuda a Pitagoras!--Mathematica</title>

<!--Enlaces Conocidos-->

    
    <link rel="stylesheet"  type="text/css" href="/css/randow.css" />
     <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.7-dist/css/bootstrap.css" />
    

<!-- Scripts -->

    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/randow.js"></script>
    <script type="text/javascript" src="/js/randow.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
</head>
<body>
	<div class="banner">
    <nav>
        <ul class="no_lista">
           <li class="col-md-3 incline-block"><h1 class="indie blanco grande">Mathematica</h1></li>
             <a href="#"><li class="col-md-2 incline-block"><h3 class="blanco peque bree"></h3></li></a>
             <a href="/profile"><li class="col-md-1 incline-block"><h3 class="blanco peque bree">Inicio</h3></li></a>
            <a href="/lecciones"><li class="col-md-1 incline-block"><h3 class="blanco peque bree">Lecciones</h3></li></a>
            <a href="http://jacinto-davila.blogspot.com/2014/09/bitacora-01-md-u2014-matematicas.html"><li class="col-md-1 incline-block"><h3 class="blanco peque bree">Contacto</h3></li></a>
            <a href="/auxiliar"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">¡Ayuda a Pitagoras!</h3></li></a>
            <a href="/logout"><li class="col-md-1 incline-block"><h3 class="blanco peque bree">Salir</h3></li></a>
          </ul>
    </nav>
	</div>
	<br>

	<div class="container">
		<div class="col-xs-6">
		</div>
		<div class="col-x6-6" style="float:right; margin-right:-14px;">
			<ul class="nav nav-pills">
      			<li><a href="·"></a></li>
      			<li><a class="active" href="#">¡A jugar!</a></li>
      				<li><a  class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">¡Ayuda a Pitagoras!</a></li>
    			<li><a class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg1">Creditos</a></li>
    		</ul>
		</div>
  </div>

	<div class="container panel panel-default panel-body">
    <div class="row" style="height:60px; padding-left: 30px;">
			<h3>Pergamino #</h3>
		</div>
		<div class="row"  style="height:50px; padding-left: 30px;"> 
			<h3><%= question %></h3>
		</div>
		<br><br>
		<div class="row  radio" style="height:50px; padding-left: 30px;">
			<label><input type="radio" name="optradio">Option 1</label>
		</div>
		<div class="row  radio" style="height:50px; padding-left: 30px;">
			<label><input type="radio" name="optradio">Option 1</label>
		</div>
		<div class="row  radio" style="height:50px; padding-left: 30px;">
			<label><input type="radio" name="optradio">Option 1</label>
		</div>
		<div class="row  radio" style="height:50px; padding-left: 30px;">
			<label><input type="radio" name="optradio">Option 1</label>
		</div>
		<div class="row" style="float:right;">
				<a href="#" data-dismiss="modal" class="btn btn-danger">Siguiente</a>  
	  </div>
  </div>

	<div class="row banner2">
		<div class="col-xs-4" style="padding-top: 30px; padding-left: 50px; color:white;">
			!Ayuda a Pitagoras!
		</div>
    <div class="col-xs-2" style="padding-top: 30px; float:right;">
      <li><a href="https://github.com/ulanux/mathematica/" style="color:white">Colabora con Nosotros</a></li>
    </div>
    <div class="col-xs-2" style="padding-top: 30px; float:right;">
      <li><a href="#" style="color:white;"">Contactanos</a></li>
    </div>
	</div>

<!-- Modals -->

 <div class="modal fade bs-example-modal-lg" id="mostrarmodal"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 			<div class="modal-dialog modal-lg" role="document">
    			<div class="modal-content ayudaFondo">
    				<div class="container">
      					<div class="row">
      						<div class="col-xs-3">
      						</div>
      						<div class="col-xs-9">
      				    		<h1>¡Pitagoras a perdido la memoria!</h1> 
      						</div>
      					</div>
      					<div class="row">
      						<div class="col-xs-3" style="padding-top: 15px;">
      							<img src="../images/pitagoras.png" >
      						</div>
      						<div class="col-xs-9">
      							<h3><p style="width:550px; text-align:justify;">

      				    			¡El padre de la Matemática se ha golpeado fuertemente la cabeza y ha perdido la razon!¡Ahora es tu deber ayudarlo a mantener su titulo!. Pues sus alumnos han comenzado ha notar la ausencia de su mentor en las instalaciones de la escuela, y han decidido enviarle una serie de preguntas en  pergaminos aumentando su dificultad en cada envio, con el fin de comprobar que su mentor este en condicion de seguir tomando las riendas de la facultad, pues la avaricia de sus estudiantes por tomar su titulo es absoluta. Para ello deberas hacerte pasar por él, y ser capaz de responder cuidadosamente a cada pergamino enviado, por cada pergamino que respondas satisfactoriamente se te sera otorgado un instrumento matemàtico que servira para ayudar a que pitagoras a recobre sus conocimientos.
      				    			¡Suerte en el Intento!
      				    		</p></h3>
      						</div>
      					</div>
                 <div class="row modal-footer" style="width:900px">
                      <a href="#" data-dismiss="modal" class="btn btn-danger">Continuar</a>
                  </div>
                  
      				</div>
    			</div>
  			</div>
		</div>

		<div class="modal fade bs-example-modal-lg1"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content ayudaFondo">
    				<div class="container">
      					<div class="row">
      						<div class="col-xs-2">
      							<h1>Creditos</h1>
      						</div>
      					</div>
      					<div class="row">
      						<div class="col-xs-6" style="width:550px; text-align:justify;">
      							<h3><p>
      								<strong>Diseñado y desarrollado por:</strong><br>
      				    			Ender Jose Puentes Vargas, programador y estudiante de Ingenieria de Sistemas en la Univesidad de Los Andes.<br>
      				    			<strong>Colaboracion:</strong><br>
      				    			La base de conocimiento extraida para el manejo de este modulo en el juego de mathematicas, fue extraida del repositorio ubicado en <strong>https://github.com/ulanux/mathematica</strong>, creado y supervisado por el profesor Jacinto Davila, y reforzado por parte de los estudiantes de la EScuela de Ingenieria de Sistemas, en la catedra de Matematicas Discretas.
									<strong>Reservados Todos LoS Derechos</strong>
      				    		</p></h3>

      						</div>
      						<div class="col-xs-6">
      							<img src="../images/creditos.png">
      						</div>
      					</div>
      					<div class="row">
      						<div class="modal-footer" style="width:900px">
        							<a href="#" data-dismiss="modal" class="btn btn-danger">Continuar</a>
     						</div>
      					</div>
      				</div>
    			</div>
  			</div>
		</div>
		

</body>
</html>