<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ULAnux Mathematica</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
</head>
<body>

  <div>
    <nav class="color-barra padding-largo">
        <ul class="no_lista">
           <li class="col-md-3 incline-block"><h1 class="indie blanco grande">Mathematicas</h1></li>
             <a href="/profile"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Inicio</h3></li></a>
            <a href="/lecciones"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Lecciones</h3></li></a>
            <a href="http://jacinto-davila.blogspot.com/2014/09/bitacora-01-md-u2014-matematicas.html"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Contacto</h3></li></a>
            <a href="/logout"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Salir</h3></li></a>
          </ul>
    </nav>
  </div>

    <section>
        <div class="text-center">
            <h1 class="bree verde grande"> Combinatoria: </h1>
            <p class="bree gris">Las matemáticas no conocen razas o límites geográficos. Para las matemáticas, el mundo cultural es una país - David Hilbert..</p>
            <ul class="no_lista">
        </div>
		<div>
            <article class="no_lista">

                <p>

                	<strong><h2 class="bree verde">Definición:</h2></strong>
                	<br/>
                	<strong><li class="bree gris letra">&nbsp; &nbsp; &nbsp; Lea el siguiente enunciado, complete el espacio en blanco (_________) y deduzca el concepto de combinaria.</li></strong>

                    <br/><br/><li class="col-md-7 col-sm-1 incline-block "><article><img src="Combinatoria/com.jpg"></article>

                    <br/><strong><li class="bree gris letra "> &nbsp; &nbsp; &nbsp; Por lo tanto, "La combinatoria estudia las formas de  ordenar o agrupar un determinado número de elementos".</li></strong>
                    <br/>

                    <strong><h2 class="bree verde">Regla de la suma:</h2></strong>
                    <br/>
                    <strong><li class="bree gris letra">&nbsp; &nbsp; &nbsp; “Si un objeto A puede tomarse en  m  formas y el objeto B en  n  formas entonces UNO entre A ó B puede tomarse de m+n formas”. Considere el ejemplo anterior, tomando ahora dos objetos a la vez.</li></strong>

                     <br/><br/><li class="col-md-7 col-sm-1 incline-block "><article><img src="Combinatoria/2.jpg"></article>

                     <strong><h2 class="bree verde">Regla del producto:</h2></strong>
                    <br/>
                    <strong><li class="bree gris letra">&nbsp; &nbsp; &nbsp; La regla de la suma es un caso particular de la del producto. Por lo tanto, “Si un elemento A puede tomarse de  m  formas y el B de  n  formas entonces EL PAR A y B puede tomarse en m*n formas”. <br/>&nbsp; &nbsp; &nbsp; Analicemos: 1) Sean los conjuntos C1={A, B, C, D} C2={X, Y, Z}; ¿Cuántas   y  cuáles  son  las  duplas  o  pares   que  pueden  construirse  teniendo  cada  dupla un  primerelemento de C1 y un segundo elemento de C2? <br/>&nbsp; &nbsp; &nbsp; Considerar que el primer elemento puede tomarse en 4 formas y el segundo en 3 formas, construyendo el árbol: </li></strong>

                     <br/><br/><li class="col-md-7 col-sm-1 incline-block "><article><img src="Combinatoria/3.jpg"></article>












                </p>

            </article> </li>
