<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ULAnux Mathematica</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
</head>
<body>

  <div>
    <nav class="color-barra padding-largo">
        <ul class="no_lista">
           <li class="col-md-3 incline-block"><h1 class="indie blanco grande">Mathematicas</h1></li>
             <a href="/profile"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Inicio</h3></li></a>
            <a href="/lecciones"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Lecciones</h3></li></a>
            <a href="http://jacinto-davila.blogspot.com/2014/09/bitacora-01-md-u2014-matematicas.html"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Contacto</h3></li></a>
            <a href="/logout"><li class="col-md-2 incline-block"><h3 class="blanco peque bree">Salir</h3></li></a>
          </ul>
    </nav>
  </div>

     <section>
        <div class="text-center">
            <h1 class="bree verde grande"> Combinatoria:</h1>
            <p class="bree gris">Me lo contaron y lo olvidé; lo vi y lo entendí; lo hice y lo aprendí. -Confucio.</p>
        </div>

        <article class="no_lista">

          <p>

          <strong><h2 class="bree verde">Instrucciones:</h2></strong><br/>

                    <strong><li class="bree gris letra"> 1)&nbsp; &nbsp; &nbsp;Lea atentamente el enunciado de cada pregunta. Se recomienda leer primero el material de apoyo. <br/><br/>
                    2)&nbsp; &nbsp; &nbsp;Los problemas desarrollelos en una hoja aparte y compare la respuesta al final. <br/><br/>
                    3)&nbsp; &nbsp; &nbsp;El cuadro inferior a cada pregunta indica la Respuesta, deje el cursor del mouse ubicado sobre el hasta que de la vuelta. <br/><br/>
                    4)&nbsp; &nbsp; &nbsp;Disfrute aprendiendo.<br/><br/>


            <strong><h2 class="bree verde">Ejercicios:</h2></strong><br/>

                    <strong><li class="bree gris letra"> 1) &nbsp; &nbsp;¿Qué la combinatoria?

                    <div class="reversiblelargo reversibleImagen">
                    <div id="atras"><span>Es el estudio de las diferentes formas en que se pueden agrupar u ordenar los elementos de un conjunto.</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 2) &nbsp; &nbsp;¿Cuántas cadenas de longitud 4 se pueden formar usando las letras ABCDE si no se aceptan repeticiones? <br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 80 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 20<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 120 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) No puede determinarse <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = c &nbsp;Por el ppio. de la multiplicación&nbsp;5 * 4 * 3 * 2= 120</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 3) &nbsp; &nbsp;¿Cuántas selecciones de 5 libros pueden hacerse con 12 libros diferentes? <br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 50 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 1240<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 120 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 792 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = d &nbsp;C(12,5)&nbsp;= 792</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 4) &nbsp; &nbsp;¿En que consiste el Principio de la multiplicación?

                    <div class="reversiblelargo reversibleImagen">
                    <div id="atras"><span>Si una actividad se hace en t pasos sucesivos, el paso 1 se puede hacer de n1 maneras, el 2 de n2 maneras y t de nt maneras, entonces el número de formas diferentes es n1 * n2...* nt.</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 5) &nbsp; &nbsp;¿Se dispone de 7 pesas de diferentes valores cada una. ¿Cuántas pesadas diferentes pueden hacerse tomándolas de tres en tres? <br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 20 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 35<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 15 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 72 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = b &nbsp;C(7,3)&nbsp;= 35</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 6) &nbsp; &nbsp;Se dispone de 10 soldados. ¿Cuántas filas de a 5 soldados pueden hacerse? <br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 20000 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 35402<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 30240 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 7022 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = c &nbsp;P(10,5)&nbsp;= 30240</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 7) &nbsp; &nbsp;¿Que es una permutación?

                    <div class="reversiblelargo reversibleImagen">
                    <div id="atras"><span>Es la variación del orden o de la disposición de los elementos de un conjunto.</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 8) &nbsp; &nbsp;¿Cuántas banderas de franjas horizontales de 4 colores se pueden formar con los 7 colores del arco iris sin repetir ningún color? <br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) No puede determinarse <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 28<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 250 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 820 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = d &nbsp;P(7,4)&nbsp;= 820</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 9) &nbsp; &nbsp;Con 5 potes de pintura de diferentes colores ¿cuántos colores pueden obtenerse utllizando en la formación de cada color tres colores en la misma cantidad?<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 10 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) No puede determinarse<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 50 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 20 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = a &nbsp;C(5,3)&nbsp;= 10</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 10) &nbsp; &nbsp;¿De cuántas maneras se pueden seleccionar un comité de diez a partir de un grupo de 10 personas?<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 1000 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 12<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 1 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 10 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = c &nbsp;C(10,10)&nbsp;= 1</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 11) &nbsp; &nbsp;Se tienen 7 libros y solo 3 espacios en una biblioteca. ¿De cuantas maneras se pueden colocar 3 libros elegidos aleatoriamente?<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 100 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 210<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 15 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 120 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = B &nbsp;7*6*5&nbsp;= 210</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 12) &nbsp; &nbsp;¿Cuántos números de N cifras se puede formar con  M dígitos:<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) N*M <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) N^M<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) N+M <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) No puede determinarse. <br/>


                    <div class="reversiblelargo reversibleImagen">
                    <div id="atras"><span> R = b &nbsp; Variación con repetición= N^(M). Donde N es el número de elementos y M el número de cifras que puede tener ese número </span></div>
                    <div id="adelante"><span>Respuesta</span></div>
                    </div><br/><br/><br/>


                    <strong><li class="bree gris letra"> 13) &nbsp; &nbsp;Si se forman todos los números que resultan de permutar las cifras de 123579 y se ordenan en forma creciente, ¿qué lugar ocupará el número 537192?<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 422 <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 212<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 24<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 389 <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = a &nbsp; 3*5! +2*4! +2*3! +2 = 422 </span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                    <strong><li class="bree gris letra"> 14) &nbsp; &nbsp;En el alfabeto Morse, usando en telegrafía, se emplean solamente dos signos: el punto y la raya. ¿Cuántas palabras distintas pueden formarse compuestas de n signos?<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 2^(N+1)-2<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 2^(N+1)<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) (N+4)-2<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) (N+1)-2 <br/>


                    <div class="reversiblelargo reversibleImagen">
                    <div id="atras"><span> Se pueden formar 2^k palabras de longitud k, el número de palabras de longitud comprendida entre 1 y n será la sumatoria de 2^n con  n = 1 hasta k que es igual a, R = a </span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

                     <strong><li class="bree gris letra"> 15) &nbsp; &nbsp; Ernesto tiene 8 amigos y desea invitarlos a cenar, pero sólo puede invitar a 5 simultáneamente. ¿Cuántos grupos distintos de invitados puede tener?<br/><br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;a) 50 grupos <br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;b) 21 grupos<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;c) 56 grupos<br/>

                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;d) 38 grupos <br/>


                    <div class="reversible reversibleImagen">
                    <div id="atras"><span> R = c &nbsp; 56 grupos</span>
                    </div>
                    <div id="adelante"><span>Respuesta</span>
                    </div>
                    </div><br/><br/> <br/>

 <strong><h2 class="bree verde">Bibliografía:</h2></strong><br/>

                      <strong><li class="bree gris letra">
                      &nbsp; &nbsp; &nbsp;Domingo, C. Rodríguez, C. Dávila, J. Inducción Matemática. Venezuela. http://nux.ula.ve/mathematica/guias/induccion-matematica.pdf<br/><br/>

                      &nbsp; &nbsp; &nbsp;Baptista D. (2015) 0001.pl. https://github.com/ULAnux/mathematica<br/><br/>

                      &nbsp; &nbsp; &nbsp;Eyzell J. (2015) 0017.pl. https://github.com/ULAnux/mathematica<br/><br/>

                     &nbsp; &nbsp; &nbsp;Monsegui, M. (2015) 0012.pl. https://github.com/ULAnux/mathematica<br/><br/>

                     &nbsp; &nbsp; &nbsp;Solsona, J. (2015) 0008.pl. https://github.com/ULAnux/mathematica<br/><br/>

                     &nbsp; &nbsp; &nbsp;Barrios , M. (2015) 0005.pl. https://github.com/ULAnux/mathematica<br/><br/>

                     &nbsp; &nbsp; &nbsp;Barrios , M. (2015) 0005.pl. https://github.com/ULAnux/mathematica<br/><br/>





                      </li></strong>







          </p>

        </article>
