<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Demo Autenticación de Usuario</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> RECUPERANDO CONTRASENIA </h1>

    <!-- muestra los mensajes que vengan de la autenticacion -->
    <% if (messages.error) { %>
       <div class ="alert alert-danger"><%=messages.error%></div>
    <%}%>
    <% if (messages.info) { %> 
       <div class ="alert alert-info"><%=messages.info%></div>
    <%}%>
    <% if (messages.success) { %>
       <div class ="alert alert-succes"><%=messages.success%></div>
    <%}%>

    <!-- LOGIN FORM -->
    <form action="/forgot" method="post">

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg">Recuperar</button>
    </form>

    <hr>

    <p>O ir a <a href="/">inicio</a>.</p>

</div>

</div>
</body>
</html>
