<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Demo Autenticación de Usuario</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" style="background-color: #7FC7AF">
        <h1><span class="fa fa-lock"></span> Demo Autenticación</h1>

        <p>Ingresar o Registrarse con:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Ingresar Localmente</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrarse Localmente</a>
    </div>

</div>
</body>
</html>
