<!doctype html>
<!-- views/index.ejs -->
<html>
<head>
    <meta charset="utf-8">
    <title>ULAnux Mathematica</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/920bc590a2.css">
    <link rel="stylesheet" href="css/main.css">

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class="">
<div class="container">

    <div class="jumbotron text-center" style="background-color: #7FC7AF">
        <h1><span class="fa fa-graduation-cap "></span> ULAnux Mathematica</h1>

        <p>Ingresar o Registrarse con:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Ingresar </a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrarse </a>
    </div>

</div>
</body>
</html>
