<!doctype html>
<!-- views/reset.ejs -->
<html>
<head>
    <title>Demo Autenticación de Usuario</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Restaurando Contraseña </h1>

        <!-- reset FORM --><!-- creo que la cuestion esta en  la accion del reset -->
        <form action="/reset/<%= user.local.resetPasswordToken %>" method="POST">

            <div class="form-group">
                <label>Nueva Contraseña</label>
                <input type="text" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Confirmar Contraseña</label>
                <input type="password" class="form-control" name="confirm">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Guardar Contraseña</button>
        </form>

        <hr>

        <p>O ir a <a href="/">inicio</a>.</p>

    </div>

</div>
</body>
</html>
